* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
  }
  .center {
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
  }
  .top     {
    height: 800px;
    background-image:url(image/topstar1.svg), url(image/topstar2.svg);
    background-repeat: no-repeat;
    background-size: contain, auto;
    background-position: calc(100% + 360px) -260px, left 60px;
    background-color: rgb(225, 255, 143);
  
  &__title{
    padding-top: 196px;
    margin-left: 120px;
    max-width: 768px;
    color: rgb(32, 32, 39);
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    text-align: left;
  }
  &__text {
    margin-top: 24px;
    margin-left: 120px;
    max-width: 720px;
    color: rgb(32, 32, 39);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
  }
  &__btn {
    margin-top: 48px;
    margin-left: 120px;
    margin-bottom: 246px;
    padding: 16px 65px;
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    text-align: center;
    font-family: Montserrat;
  }
  &__btn:hover {
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(250, 250, 250);
    color: rgb(32, 32, 39);
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    text-align: center;
    font-family: Montserrat;
  }
}
.content {
  background-color: black;
  background-image: url(image/bigstarmenu.svg), url(image/starsmemu.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: auto, auto;
  background-position: right 60px, left;
  
  
}
.menu {
    padding: 94px 120px 50px 120px;

    &__title {
      color: rgb(255, 255, 255);
      font-size: 64px;
      font-weight: 700;
      line-height: 78px;
    }
    &__text{
      color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    padding-top: 24px;
    }
    &__box{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: flex-start;
      column-gap: 32px;
      margin-top: 72px;
    }
    &__desc {
      display: flex;
      flex-direction: column;
      padding: 32px 32px 36px 32px;
    }
    &__card{
      display: flex;
      flex-direction: column;
      border-radius: 30px;
      background-color: white;
      max-width: 378px;
      transition: transform 0.5s ease;
      &-min{
        max-height: 473px;
      }
      &-med{
        max-height: 512px;
        align-self: flex-end;
      }
      &-max{
        max-height: 551px;
      }
    }
    &__card:hover{
      transform: scale(1.10);
    }
    
    &__img {
      border-radius: 30px;
    }

    &__btn {
      border-radius: 52.58px;
      background: rgb(247, 247, 247);
      border-color: transparent;
      color: rgb(32, 32, 39);
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 500;
      line-height: 110%;
      text-align: left;
      padding: 8px 16px;
      width: 112px;
      height: 36px;
    }
    &__name{
      color: rgb(32, 32, 39);
      font-family: Montserrat;
      font-size: 32px;
      font-weight: 700;
      line-height: 39px;
      text-align: left;
      margin-top: 16px;
    }
}
.footer {
    background: rgb(189, 237, 53);
  &__title {
      color: rgb(0, 0, 0);
      font-size: 24px;
      font-weight: 600;
      line-height: 29px;
      text-align: center;
      padding-top: 61px;
      padding-bottom: 60px;
  }
}

